h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(234, 254, 255);
    border-radius: 0;
    font-size: 30px;
    padding: 10px 28px;}
.container{
    position: relative;
    width: 100%;
    height: 25rem;
}
body{

    background:#23243a;
}
.container img{
    position: absolute;
    margin-top:0%;
    left: 50%;
    height: 30rem;
    transform: translate(-50%,-50%);
    border-radius: 0;
}
footer{
    margin-top: 20%;
    color:white;
}
form{
    font-family: cursive;
    padding: 12px;
    font-size: 30px;
}
input{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
select{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}